@use "../colors" as colors;
@use "../breakpoints" as breakpoints;
@import "../mixins-group";
.comments {
  padding: 1rem;

  width: 100vw;
  @include breakpoints.medium {
    padding: 2.25rem 2.25rem;
  }
  @include breakpoints.large {
    padding: 2.25rem 6rem;
  }
  &__title {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 700;
    color: colors.$BandSite-black;
    margin-top: 1rem;
    margin-bottom: 2rem;
    @include breakpoints.medium {
      margin-bottom: 2.25rem;
      font-size: 2.25rem;
      line-height: 2.75rem;
      font-weight: 700;
    }
  }
  &__main {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid colors.$Mercury;
    @include breakpoints.medium {
      margin: 0 3rem;
    }
    @include breakpoints.large {
      margin: 0 12rem;
    }
  }
  &__picture {
    border-radius: 50%;
    width: 2.25rem;
    height: 2.25rem;
    margin-top: 1.3rem;
    @include breakpoints.medium {
      width: 3rem;
      height: 3rem;
    }
  }
  &__form {
    width: 88%;
    display: flex;
    flex-direction: column;
    @include breakpoints.medium {
      width: 90%;
    }
  }
  &__label {
    margin-bottom: 0.25rem;
    color: colors.$silver;
    font-weight: 700;
    line-height: 1.25rem;
    font-size: 0.75rem;
    @include breakpoints.medium {
      font-size: 0.9rem;
    }
  }
  &__name {
    border-radius: 0.25rem;
    height: 2.8125rem;
    min-height: 2.25rem;
    border: 1px solid colors.$silver;
    padding: 0.75rem;
    margin-bottom: 1.5rem;
    background-color: colors.$Alabaster;
    &::placeholder {
      color: colors.$BandSite-DarkBlack;
      line-height: 1.25rem;
      font-size: 0.75rem;
      @include breakpoints.medium {
        font-size: 0.9rem;
      }
    }
    &--error {
      border: 1px solid #d22d2d;
    }
    &--borderactive {
      border: 1px solid colors.$BandSite-black;
    }
    @include breakpoints.medium {
      height: 3.5rem;
      min-height: 3rem;
      padding: 1rem;
    }
  }
  &__comment {
    border-radius: 0.25rem;
    height: 5rem;
    min-height: 2.25rem;
    padding: 0.75rem;
    margin-bottom: 1.5rem;
    border: 1px solid colors.$silver;
    background-color: colors.$Alabaster;
    &::placeholder {
      color: colors.$BandSite-DarkBlack;
      line-height: 1.25rem;
      font-size: 0.75rem;
      @include breakpoints.medium {
        font-size: 0.9rem;
      }
    }
    &--error {
      border: 1px solid #d22d2d;
    }
    &--borderactive {
      border: 1px solid colors.$BandSite-black;
    }
    @include breakpoints.medium {
      height: 6rem;
      min-height: 3rem;
      padding: 1rem;
    }
  }
  &__button {
    margin-bottom: 1.5rem;
    color: colors.$white;
    font-size: 0.75rem;
    background-color: colors.$BandSite-black;
    padding: 1rem;
    border: none;
    border-radius: 4px;
    &--hover {
      cursor: pointer;
    }
    @include breakpoints.medium {
      font-size: 1rem;
      width: 32%;
      position: relative;
      left: 100%;
      transform: translateX(-100%);
    }
  }
  &__container {
    width: 100%;
    @include breakpoints.medium {
      padding: 0 3rem;
    }
    @include breakpoints.large {
      padding: 0 12rem;
    }
  }
  &__lists {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid colors.$silver;
  }
  &__profile-pic {
    background-color: colors.$Mercury;
    border-radius: 50%;
    width: 2.25rem;
    height: 2.25rem;
    margin-top: 1rem;
    @include breakpoints.medium {
      width: 3rem;
      height: 3rem;
    }
  }
  &__fullname-time {
    width: 90%;
  }
  &__upper {
    display: flex;
    justify-content: space-between;
    @include breakpoints.medium {
      margin-top: 0.5rem;
    }
  }
  &__full {
    color: colors.$BandSite-black;
    font-size: 1rem;
    line-height: 1.4rem;
    font-weight: 700;
    @include breakpoints.medium {
      font-size: 1.1rem;
    }
  }
  &__time {
    color: colors.$silver;
    font-size: 1rem;
    line-height: 1.4rem;
    font-weight: 600;
    @include breakpoints.medium {
      font-size: 1.1rem;
    }
  }
  &__commenttext {
    color: colors.$BandSite-black;
    font-size: 1rem;
    line-height: 1.4rem;
    font-weight: 600;
    text-align: justify;
    @include breakpoints.medium {
      margin-top: 0rem;
      font-size: 1.1rem;
    }
  }
}
