@use "../colors" as colors;
@use "../breakpoints" as breakpoints;
@import "../mixins-group";

.footer {
  background-color: colors.$BandSite-black;
  color: colors.$white;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  width: 100vw;
  padding: 1rem 1rem;
  @include breakpoints.medium {
    padding: 3rem 2.25rem;
    line-heigt: 1.25rem;
    font-size: 1rem;
    position: relative;
  }
  @include breakpoints.large {
    padding: 3rem 6rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    @include breakpoints.medium {
      width: 55%;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__tagline {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 700;
    margin: 1rem 0;
    @include breakpoints.medium {
      font-size: 2.25rem;
      line-height: 2.75rem;
      font-weight: 700;
    }
  }
  &__icon-list {
    display: flex;
    width: 30vw;
    height: 4vh;
    justify-content: space-between;
    margin-top: 0.5rem;
    @include breakpoints.medium {
      width: 20vw;
      margin-top: 0.5rem;
    }
  }
  &__icon {
    height: 90%;
  }
  &__contacts {
    display: flex;
    flex-direction: column;

    @include breakpoints.medium {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__contact-detail {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    & > div,
    & > p {
      height: 35%;
    }
    @include breakpoints.medium {
      width: 34%;
    }
  }
  &__contact-name {
    margin-bottom: 0;
  }
  &__contact-business {
    margin-top: 0.5rem;
  }

  &__contact-address {
    margin-bottom: 0;
  }
  &__contact-address1 {
    margin-top: 0.5rem;
  }
  &__copyright {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  &__logo-footer {
    width: 100%;
    max-width: 120px;
    max-height: 20px;
    @include breakpoints.medium {
      position: absolute;
      top: 4rem;
      right: 2.25rem;
    }
    @include breakpoints.large {
      right: 6rem;
    }
  }
}
