@use "../colors" as colors;
@use "../breakpoints" as breakpoints;
@import "../mixins-group";

.header-bar {
  background-color: colors.$BandSite-black;
  width: 100vw;
  height: 15vh;
  position: fixed;
  top: 0;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include breakpoints.medium {
    flex-direction: row;
    height: 12vh;
  }

  &__logo {
    padding: 2rem 0;
    @include logo-transform(2);

    @include breakpoints.medium {
      @include logo-transform(1.4);
      padding: 2rem 3rem;
    }
    @include breakpoints.large {
      padding: 2rem 0rem 2rem 7rem;
    }
  }
  &__nav-list {
    display: flex;
    width: 100%;
    height: 100%;
    @include breakpoints.medium {
      width: 40%;
      justify-content: space-evenly;
    }
  }
  &__link {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100%;
    text-decoration: none;
    color: colors.$Mercury;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;

    @include breakpoints.medium {
      display: flex;
      width: auto;
      align-items: center;
    }

    &--underlined {
      border-bottom: 4px solid white;
      color: colors.$white;
    }
    &:hover {
      color: colors.$white;
      font-weight: 700;
    }
  }
}
.hero {
  margin-top: 15vh;
  display: flex;
  align-items: center;
  min-width: 100%;
  height: 60vw;
  overflow: hidden;
  background: linear-gradient(
      to bottom,
      rgba(50, 50, 50, 0.5),
      rgb(50, 50, 50, 0.5)
    ),
    url("../assets/images/hero-bio.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  @include breakpoints.medium {
    margin-top: 12vh;
  }
  &__title {
    width: 100%;
    color: colors.$white;
    padding-left: 0.6em;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2rem;
    word-spacing: 0.3rem;
    @include breakpoints.medium {
      font-size: 3.75rem;
      line-height: 4.25rem;
      font-weight: 700;
      padding-left: 2.25rem;
    }
    @include breakpoints.large {
      padding-left: 7rem;
    }
  }
}
