@use "../colors" as colors;
@use "../breakpoints" as breakpoints;
@import "../mixins-group";
.about {
  width: 100vw;
  padding: 0 1rem;
  overflow: hidden;

  @include breakpoints.medium {
    padding: 0 2.25rem;
  }
  @include breakpoints.large {
    padding: 0 7rem;
  }

  &__heading {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 700;
    color: colors.$BandSite-black;
    @include breakpoints.medium {
      margin-top: 3rem;
      margin-bottom: 2.25rem;
      font-size: 2.25rem;
      line-height: 2.75rem;
      font-weight: 700;
    }
  }
  &__band-image {
    width: 100%;
    height: 50vw;
    @include breakpoints.medium {
      padding: 0 3rem;
    }
    @include breakpoints.large {
      padding: 0 6rem;
    }
  }
  &__quote,
  &__quote-author,
  &__para-title {
    margin: 1rem 0 0 0;
    color: colors.$BandSite-black;
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 700;
    text-align: justify;
    @include breakpoints.medium {
      padding: 0 3rem;
      font-size: 1.2rem;
      line-height: 1.5rem;
      font-weight: 700;
    }
    @include breakpoints.large {
      padding: 0 6rem;
    }
  }
  &__para-title {
    font-weight: 600;
    color: colors.$BandSite-DarkBlack;
    @include breakpoints.medium {
      margin-top: 2rem;
    }
  }
  &__paragraphs {
    display: flex;
    flex-direction: column;

    @include breakpoints.medium {
      flex-direction: row;
      padding: 0 3rem;
    }
    @include breakpoints.large {
      padding: 0 6rem;
    }
  }
  &__para {
    color: colors.$BandSite-black;
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-weight: 400;
    text-align: justify;
    margin: 1rem 0 0 0;
    &:first-child {
      @include breakpoints.medium {
        margin-right: 2rem;
      }
    }
    @include breakpoints.medium {
      margin: 2.25rem 0 2.25rem 0;
      font-size: 1.2rem;
      line-height: 1.5rem;
      font-weight: 400;
    }
  }
}
